<html>
<head>
<title>略歴2</title>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta http-equiv="Content-Style-Type" content="text/css">

 <style type="text/css">
 <!--
  body
        {
          background-color: #cae4ff;
          color: #000000;
         margin:0px;
         padding:0px;
        }
#top
        {
         width:100%;
         height:100px;
         }

#l2     {
         width:50%;
         float:left;
        }

#l3     {
         width:50%;
         float:left;
  
p.s      {
                 font-size:120%;
        }     
div.e     {
                 width:20%;
         float:left;
                }     
div.n   {
                 width: 10%;
                 float: left;
        }  
div.c     {
                 width: 70%;
         float:left;
                }
 -->
 </style>
 </head>
<body >

<div id="top">
<center>
<h1>---略歴2---</h1>
<h3><span style="border-bottom:1px dotted black">徳田 裕太/Tokuda Yu-ta</span></h3></center></div>
<table>
<tbody>

<div id="l2">
<center><p class="s"><h2>大学</h2></p>
<% @histories4.each do |history| %>
<div class="e">
        <%= history.age %>
</div><br>
<div class="c">
        <%= history.cont.gsub("\n", "<br>").html_safe %>
</div><br>
        <div style="clear: both;"></div>
        <% end %>
</center>
</div>


<div id="l3">
<center><p class="s"><h2>これから</h2></p>
<% @histories5.each do |history| %>
<div class="e">
        <%= history.age %>
</div><br>
<div class="c">
        <%= history.cont.gsub("\n", "<br>").html_safe %>
</div><br>
<p><%= link_to image_tag('main.gif', {  :border => '0', :alt => 'index',}),hp_index_url%></p>
<p><%= link_to image_tag('ry1.gif', {  :border => '0', :alt => 'prof',}),prof_hp_index_url %></p></center>
</div>
<div style="clear: both;">

</div>
<% end %>

</tbody>


</body>
</html>
